/* Paleta de colores de Uber */
:root {
    --primary-color: #000000;  /* Negro */
    --secondary-color: #ffffff; /* Blanco */
    --accent-color: #1fbad6;    /* Azul claro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}

#qr-result {
    margin: 20px 0;
}
